cmake-build-debug
# openspec
.vscode
.codeartsdoer
.github
dist
build
test
tools
interactor*/
*.zip
*.exe
*.png
test_cpp
*/__pycache__
__pycache__
*/main
*/Solution
*.Identifier
# data
# test_py
cmake-build-debug
test_py_v2
test_debug
cmake-build-debug
main
main_old
.arts
src_merge/Solution.cpp
time_log.txt
!test_py/vis_output/backup/practice_00_n40_m100_holes_test_vis.png
gui
web
